<% @posts.each do |post| %>
<div class="media">
  <div class="media-body">
  <h2> <%=link_to post.title, post %></h2> <br>
<p> <%= post.body %> </p>
</div>
</div>
<div align="right">
<% if current_user == post.user%>
  <%= link_to 'Редактировать', edit_post_path(post), :class => "btn btn-default navbar-btn" %>
  <%= link_to 'Удалить запись', post_path(post), method: :delete, :class => "btn btn-default navbar-btn" %>
<% end %>
</div>
<hr>
<% end %>
