<h1 class="title">
  <%= @post.title %>
</h1>

<p class="body">
  <%= @post.body %>
</p>
<%= link_to 'Редактировать', edit_post_path(@post) %>
<%= link_to 'Удалить запись', post_path(@post), method: :delete%>
